a{
  box-sizing: border-box;
}

body{

}

.header{
  width: 100%;
  text-align:center;
  margin:auto;
  height: 2em;
  background-color: darkgrey;
}

.Search{
  background-color: lightblue;
  float:right;
  width: 20%;
  height: 2em;
}

.hero{
  background-color: blue;
  font-size: 80px;
  width: 100%;
  height: 300px;
}

.Menu{
  width: 100%;
  font-size: 20px;
  height: 2em;
}

.comic{
  background-color: pink;
  height: 2em;
  text-align: center;
  float: left;
  width: 25%;

}

.writing{
  background-color: cyan;
  text-align: center;
  float: left;
  width: 25%;
  height: 2em;
}

.videos{
  background-color: magenta;
  text-align: center;
  float: left;
  height: 2em;
  width: 25%
}
.WhatsNew{
  width: auto;
  font-size: 20px;
  background-color: lightgreen;
}

.update1{
  float:left;
  width: 25%;
  height: 7em;
  text-align: center;
  background-color: magenta;
}

.update2{
  float:left;
  width: 25%;
  height: 7em;
  text-align: center;
  background-color: lightblue;
}

.art{
  background-color: lightgreen;
  text-align: center;
  float: left;
  width: 25%;
  height: 2em;
}

.Footer{
  width: 100%;

}

.Contact{
  background-color: red;
  float: left;
  height:8em;
  width: 80%
}

.Social{
  background-color: yellow;
  width: 20%;
  height:8em;
  float: right;
}
